/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

div.highlighter-rouge, figure.highlight {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $code-background-color;
  box-shadow: $box-shadow;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: $border-color;
    content: "\f121";
    font-family: "fontawesome" !important;
    font-size: $type-size-6;
    line-height: 1;
    text-transform: none;
    speak: none;
  }

  .highlight {
    margin: 0;
    font-family: $monospace;
    font-size: $type-size-7;
    line-height: 1.8;
  }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }


/*
   Zenburn
   https://github.com/jnurmine/Zenburn

   ZENBURN   HEX      ROLE
   --------- -------- ------------------------------------------
   fg        #dcdccc  body text / default code / primary content
   comment   #7f9f7f  comments / secondary content
   bg        #353535  background
   constant  #dca3a3  constants
   error     #e37170  regex, special keywords
   keyword   #f0dfaf  reserved keywords
   number    #8cd0d3  strings, numbers
   function  #efef8f  operators, other keywords
   ========================================================================== */

.highlight .c { color: #7f9f7f } /* Comment */
.highlight .err { color: #dcdccc } /* Error */
.highlight .g { color: #dcdccc } /* Generic */
.highlight .k { color: #f0dfaf } /* Keyword */
.highlight .l { color: #dcdccc } /* Literal */
.highlight .n { color: #dcdccc } /* Name */
.highlight .o { color: #f0efd0 } /* Operator */
.highlight .x { color: #dca3a3 } /* Other */
.highlight .p { color: #dcdccc } /* Punctuation */
.highlight .cm { color: #7f9f7f } /* Comment.Multiline */
.highlight .cp { color: #dfaf8f } /* Comment.Preproc */
.highlight .c1 { color: #7f9f7f } /* Comment.Single */
.highlight .cs { color: #dfaf8f } /* Comment.Special */
.highlight .gd { color: #cc9393 } /* Generic.Deleted */
.highlight .ge { color: #dcdccc; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #e37170 } /* Generic.Error */
.highlight .gh { color: #f0dfaf } /* Generic.Heading */
.highlight .gi { color: #7f9f7f } /* Generic.Inserted */
.highlight .go { color: #9fafaf } /* Generic.Output */
.highlight .gp { color: #9fafaf } /* Generic.Prompt */
.highlight .gs { color: #dcdccc; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #f0dfaf } /* Generic.Subheading */
.highlight .gt { color: #dcdccc } /* Generic.Traceback */
.highlight .kc { color: #dca3a3 } /* Keyword.Constant */
.highlight .kd { color: #f0dfaf } /* Keyword.Declaration */
.highlight .kn { color: #f0dfaf } /* Keyword.Namespace */
.highlight .kp { color: #f0dfaf } /* Keyword.Pseudo */
.highlight .kr { color: #f0dfaf } /* Keyword.Reserved */
.highlight .kt { color: #dfdfbf } /* Keyword.Type */
.highlight .ld { color: #dcdccc } /* Literal.Date */
.highlight .m { color: #8cd0d3 } /* Literal.Number */
.highlight .s { color: #cc9393 } /* Literal.String */
.highlight .na { color: #dfdfbf } /* Name.Attribute */
.highlight .nb { color: #efef8f } /* Name.Builtin */
.highlight .nc { color: #efef8f } /* Name.Class */
.highlight .no { color: #dca3a3 } /* Name.Constant */
.highlight .nd { color: #efef8f } /* Name.Decorator */
.highlight .ni { color: #dca3a3 } /* Name.Entity */
.highlight .ne { color: #dca3a3 } /* Name.Exception */
.highlight .nf { color: #efef8f } /* Name.Function */
.highlight .nl { color: #dcdccc } /* Name.Label */
.highlight .nn { color: #dcdccc } /* Name.Namespace */
.highlight .nx { color: #dcdccc } /* Name.Other */
.highlight .py { color: #dcdccc } /* Name.Property */
.highlight .nt { color: #f0dfaf } /* Name.Tag */
.highlight .nv { color: #dcdccc } /* Name.Variable */
.highlight .ow { color: #f0efd0 } /* Operator.Word */
.highlight .w { color: #dcdccc } /* Text.Whitespace */
.highlight .mf { color: #8cd0d3 } /* Literal.Number.Float */
.highlight .mh { color: #8cd0d3 } /* Literal.Number.Hex */
.highlight .mi { color: #8cd0d3 } /* Literal.Number.Integer */
.highlight .mo { color: #8cd0d3 } /* Literal.Number.Oct */
.highlight .sb { color: #cc9393 } /* Literal.String.Backtick */
.highlight .sc { color: #cc9393 } /* Literal.String.Char */
.highlight .sd { color: #cc9393 } /* Literal.String.Doc */
.highlight .s2 { color: #cc9393 } /* Literal.String.Double */
.highlight .se { color: #dca3a3 } /* Literal.String.Escape */
.highlight .sh { color: #cc9393 } /* Literal.String.Heredoc */
.highlight .si { color: #cc9393 } /* Literal.String.Interpol */
.highlight .sx { color: #cc9393 } /* Literal.String.Other */
.highlight .sr { color: #e37170 } /* Literal.String.Regex */
.highlight .s1 { color: #cc9393 } /* Literal.String.Single */
.highlight .ss { color: #cc9393 } /* Literal.String.Symbol */
.highlight .bp { color: #efef8f } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dcdccc } /* Name.Variable.Class */
.highlight .vg { color: #dcdccc } /* Name.Variable.Global */
.highlight .vi { color: #dcdccc } /* Name.Variable.Instance */
.highlight .il { color: #8cd0d3 } /* Literal.Number.Integer.Long */